body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    min-width: 1200px;
}


.news_content {
    width: 1200px;
    margin: 0 auto;
}

.news_content .hourly_news {
    clear: both;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}

.hourly_news p {
    font-size: 14px;
}

.hourly_news p a {
    cursor: pointer;
}

.company_profile{
    width: 1200px;
	height: 446px;
	background-color: #ffffff;
}
.company_profile h3{
    text-align: center;
    font-family: 'ArialMT';
	font-size: 22px;
    color: #333333;
    padding-top: 40px;
    box-sizing: border-box;
}
.company_profile p{
    width: 220px;
    height: 26px;
    line-height: 26px;
    background-color: #247dd0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-left: 490px;
    margin-top: 15px;
}
.company_profile .profile_text{
    width: 1154px;
    margin: 38px auto;
	height: 261px;
	font-family: 'SourceHanSansCN-Regular';
	font-size: 14px;
    color: #666666;
    line-height: 25px;
}
.certification{
    height: 420px;
    text-align: center;
}
.certification h3{
    font-family: 'ArialMT';
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #333333;
    padding-top: 60px;
    box-sizing: border-box;
}
.certification p{
    width: 220px;
    height: 26px;
    line-height: 26px;
    background-color: #247dd0;
    font-family: 'SourceHanSansCN-Regular';
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 490px;
    margin-bottom: 40px;
}

/* 轮播效果 */
.Box {
    position: relative;
    height: 266px;
    width: 1200px;
    height: 266px;
    margin: 0 auto;
    background: url(../imgs/shops_bg.png) no-repeat;
    padding-top: 40px;
    box-sizing: border-box;
}

.Box .Box_con {
    position: relative;
}
.Box .Box_con .btnl {
    position: absolute;
}
.Box .Box_con .btn {
    display: block;
    width: 16px;
    height: 23px;
    position: absolute;
    top: 80px;
    cursor: pointer;
}
.Box .Box_con .btnl {
    background: url(../img/jtl02.png) no-repeat center;
    left: 35px;
}
.Box .Box_con .btnr {background: url(../img/jtr02.png) no-repeat center;
    right: 35px;
}
.Box .Box_con .btnl:hover {
    background: url(../img/jtl03.png) no-repeat center;
}
.Box .Box_con .btnr:hover {background: url(../img/jtr03.png) no-repeat center;
}
.Box .Box_con .conbox {
    position: relative;
    overflow: hidden;
    width: 1020px;
    margin-left: 90px;
   
}
.Box .Box_con .conbox ul {
    position: relative;
    list-style: none;
}
.Box .Box_con .conbox ul li {
    float: left;
    width: 244px;
    height: 186px;
    margin-left: 20px;
    overflow: hidden;
}
.Box .Box_con .conbox ul li:first-child {
    margin-left: 0;
}
.Box .Box_con .conbox ul li img {
    display: block;
    width: 244px;
    height: 186px;
    transition: all 0.5s;
}
.Box .Box_con .conbox ul li:hover img {
    transform: scale(1.1);
}
			
.Box .BoxSwitch {
    margin-top: 10px;
    text-align: center;
}
.Box .BoxSwitch span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 30px;
    height: 3px;
    background: #ccc;
    margin: 0 5px;
    cursor: pointer;
}
.Box .BoxSwitch span.cur {
    background: red;
}
/* 企业环境 */
.environment{
  height: 440px;
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
}
.environment h3{
    font-family: 'ArialMT';
	font-size: 22px;
	color: #333333;
}
.environment p{
    width: 220px;
    height: 26px;
    line-height: 26px;
    background-color: #247dd0;
    margin-left: 490px;
    font-family: 'SourceHanSansCN-Regular';
	font-size: 14px;
    color: #ffffff;
    margin-top:10px;
}
.environment .environment_img{
    margin-top: 45px;
}
.environment_img img{
    display: inline-block;
    width: 390px;
    height: 338px;
    margin-left: 11px;
}
.environment_img img:first-child{
    margin-left: 0px;
}