.basic_content {
    clear: both;
    width: 100%;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.content .left{
    width: 190px;
    height: 590px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}
.content .left ul{
    margin-top: 20px;
}
.my_shop {
    font-size: 16px;
    color: #999999;
    margin-bottom: 10px;
}
.my_shop span{
    display: inline-block;
    width: 50px;
    height: 1px;
    margin-top: 10px;
	border-top: 1px solid #eeeeee;
}
.my_shop span:first-child{
    float: left;
}
.my_shop span:nth-child(2){
    float: right;
}
.content .left li a{
    font-size: 14px;
    display: inline-block;
    width: 190px;
    height: 35px;
    line-height: 35px;
}
.content .left li{
    width: 190px;
    height: 35px;
    line-height: 35px;
}
.content .left li:hover{
    width: 190px;
    height: 35px;
    background-color: #eeeeee;
}

.content .right {
    width: 1000px;
    /* height: 750px; */
    background-color: #ffffff;
    padding-bottom: 120px;
    margin-top: 10px;
}

.content .right p {
    float: left;
}
.content .right p span{
    font-size: 14px;
    color: #666666;
}
.content .right h2{
    font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #333333;
    height: 50px;
    padding: 15px 0px 0px 20px;
    box-sizing: border-box;
}
.content .right hr{
    background-color: #999999!important;
    margin: 0px!important;
}
.layui-table, .layui-table-view{
    margin: 0px!important;
}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{
    border: none;
}
.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row]{
    border: none;
}
.layui-btn+.layui-btn{
    margin-left: 0px;
}
.check_middle{
    height: 50px;
    line-height: 50px;
    background-color: #f9f9f9;
}
.check_middle button {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666666;
    background-color: #f9f9f9;
    border-radius: 5px 5px 0px 0px!important;
}
.check_middle button:hover{
    color: #666666;
}