.basic_content {
    clear: both;
    width: 100%;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.content .left {
    width: 190px;
    height: 590px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}
.content .left .layui-upload .layui-btn{
    width: 100px!important;
    height: 30px!important;
    line-height: 30px;
	background-color: #eeeeee!important;
	border-radius: 5px;
    border: solid 1px #a0a0a0;
    margin-top: 20px;
    margin-left: 45px;
}
.content .left ul{
    margin-top: 20px;
}
.my_shop {
    font-size: 16px;
    color: #999999;
    margin-bottom: 10px;
}
.my_shop span{
    display: inline-block;
    width: 50px;
    height: 1px;
    margin-top: 10px;
	border-top: 1px solid #eeeeee;
}
.my_shop span:first-child{
    float: left;
}
.my_shop span:nth-child(2){
    float: right;
}
.content .left ul li{
    width: 190px;
    height: 35px;
    line-height: 35px;

}
.content .left ul li:hover{
    background-color: #eeeeee;
}

.content .left ul li a{
    font-size: 14px;
    color: #666666;
    display: inline-block;
    width: 190px;
    height: 35px;
    line-height: 35px;
}
.content .right {
    width: 1000px;
    height: 750px;
    background-color: #ffffff;
    margin-top: 10px;
}

.content .right p {
    float: left;
}
.content .right p span{
    font-size: 14px;
    color: #666666;
}
.content .right h2{
    font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #333333;
    padding: 20px 0px 0px 20px;
}
.content .right hr{
    background-color: #999999!important;
}

.content .right .next button {
    width: 100px!important;
	height: 40px!important;
	/* background-color: #247dd0; */
    border-radius: 5px;
    border: solid 1px #247dd0;
    font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #247dd0;
    margin-right: 10px;
}
.content .right .next button:hover{
    background-color: #247dd0;
    color: #ffffff;
}
.content .right .next .save{
    margin-left: 200px;
}
.layui-btn{
    border-radius: 5px!important;
}